<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*header info*@ 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"
                   asp-route-bookCategory="" asp-route-pageNum="1">Book Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home"
                               asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1">Home</a>
                        </li>

                    </ul>*@
                </div>
            </div>
        </nav>
    </header>

    <div class="row m-1 p-1">
        @*this div gets all the buttons for the categories*@
        <div class="col-2">
            <h5 class="text-center">Categories</h5>
            <vc:types></vc:types>
        </div>
        @*this div renders teh body*@ 
        <div class="col-10">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    @*footer below*@ 
    <br />
    <footer class="border-top footer text-muted text-center">
        <br />
        <p>&copy; 2022 - My Book Store</p>
        <br />
    </footer>

    <script href="/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
