<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">

                    <div class="col">
                        <a class="navbar-brand" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index"
                           asp-route-bookCategory="" asp-route-pageNum="1">Book Store</a>
                    </div>
                    @*<div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>*@
                </div>
            </div>
        </div>
    </header>


    <div class="row m-1 p-1">
        <div class="col-12">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>


    <br />
    <footer class="border-top footer text-muted text-center">
        <br />
        <p>&copy; 2022 - My Book Store</p>
        <br />
    </footer>

    <script href="/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

