@page
@model Mission7.Pages.CartModel
@{
}
<h1>My Cart</h1>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    @*body contains info about each book added to cart*@ 
    <tbody>
        @foreach (var i in Model.cart.Books)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>$@i.Book.Price.ToString("#,##0.00")</td>
                <td>$@((i.Book.Price * i.Quantity).ToString("#,##0.00")) </td>
            </tr>
        }

    </tbody>

    @*this contains the info about the total for all the books*@
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>$@Model.cart.GetTotal().ToString("#,##0.00")</td>
           
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-large btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>