
@{
}
@model IEnumerable<string>
<div class="d-grid gap-2">
    @foreach (string category in Model)
    {
        
            <a class="btn @(ViewBag.BookCategory == category ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Index"
               asp-route-bookCategory="@category" asp-route-pageNum="1">@category</a>
       
    }
</div>
